* {
margin: 0;
padding: 0;
}
.education__container {
    width: 100%;
    height: 100%;
    margin-top: 70px;
}
.training {
    text-align: center;
    color: #ee5d5d;
    letter-spacing: 3px;
}
.content {
   margin-top: 15px;
   display: flex;
   flex-wrap: wrap;
   margin-left: 5px;
   text-align: center;
   justify-content: center;
}
.challenge__badge img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    transition: 0.2s;
    z-index: -1;
}
.challenge__badge:hover img {
    opacity: 1;
    transform: scaleX(1.03);
    z-index: -1;
}
.scholarship__icon img {
    width: 300px;
    height: 250px;
    border-radius: 10px;
    transition: 0.2s;
    z-index: -1;
}
.scholarship__icon:hover img {
    opacity: 1;
    transform: scaleX(1.03);
    z-index: -1;
}
.challenge {
    margin: 15px;
}
.duration, .period {
    margin: 10px;
    color: #ee5d5d;
}
.scholarship {
    margin: 15px;
}
.challenge__info li {
    list-style: none;
    display: inline-flexbox;
    margin-left: 12px;
    font-size: 0.8rem;
    
}
.challenge__info ul {
    width: 300px;
    border: 5px solid #4e2e03ea;
    height: 185px;
    text-align: justify;
    padding-top: 5px;
}
.challenge__info ul:hover {
    color: #0b111b;
    background-color: #f8dede;
    box-shadow: -1px 0px 21px 3px rgba(68,4,74,1);
    cursor: pointer;
}
.scholarship__info ul {
    width: 300px;
    border: 5px solid #4e2e03ea;
    height: 410px;
    text-align: justify;
    padding-top: 5px;
}
.scholarship__info ul:hover {
    color: #0b111b;
    background-color: #f8dede;
    box-shadow: -1px 0px 21px 3px rgba(68,4,74,1);
    cursor: pointer;
}
.scholarship__info li {
    list-style: none;
    display: inline-flexbox;
    margin-left: 12px;
    font-size: 0.8rem;
}
.details a, .certification a {
    color: #4e2e03ea;
    text-decoration: none;
    font-weight: 700;
}
.details, .certification {
    margin-top: 7px;
}
.details:hover, .certification:hover {
    text-decoration: underline;
}